<title>Aura</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<a href="{% url 'home' %}" class="sair">
    <i class="fas fa-arrow-left"></i>
</a>


<div class="cadastrar-container">
    <h2>Cadastro</h2>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Cadastrar</button>
    </form>
</div>
<style>
        body {
            font-family: 'Segoe UI', sans-serif;
            background-color: #111;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
        }
        .cadastrar-container {
            background-color: #1c1c1c;
            padding: 2rem;
            border-radius: 8px;
            width: 300px;
            box-shadow: 0 0 10px #444;
        }
        h2 {
            text-align: center;
            margin-bottom: 1rem;
        }
        input {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            background: #222;
            border: 1px solid #444;
            border-radius: 4px;
            color: #fff;
        }
        button {
            width: 100%;
            padding: 10px;
            background-color: #e6b800; 
            color: #000;
            border: none;
            border-radius: 4px;
            margin-top: 10px;
            cursor: pointer;
            font-weight: bold;
            transition: all 500ms ease;
        }
        button:hover{
            background-color: #fff;
        }
        .erro {
            color: #f55;
            font-size: 0.9em;
            margin-bottom: 0.5rem;
            text-align: center;
        }
        a{
            text-decoration: none;
        }
        .sair{
        position: absolute;
        left: 20px;
        top: 20px;
        width: 100px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #333;
        border-radius: 5px;
        transition: all 500ms ease;
        & i{
            color: #fff;
            transition: all 500ms ease;
        }
    }
    .sair:hover{
        border: 1px solid #f1c40f;
        & i{
            color: #f1c40f;
        }
    }
    </style>